<section class="modelo" id="go">
    <div class="model" id="model">
        <div class="model-header">
            <h4>DELETAR POKEMON</h4>
            <a href="/" id="style-model"><i class="bi bi-file-excel-fill"></i></a>

        </div>
        <div class="model-body">
            <p>Realmente quer deletar <%= pokemonDel.nome %></p>
            <div class="botaoDel">
                <a id="no" href="/">No</a>
                <a id="yes" href="/remove/<%= pokemonDel.id %>">Yes</a>
            </div>
        </div>
    </div>
</section>