<nav>
    <ul>
        <li>
            <img src="/img/pokedex.png" alt="Pokedex"> 
        </li>
        <li>
            <a href="/">
                <h2>Pokédex</h2>
            </a>
        </li>
        <li><a href="/registration">Cadastro</a></li>
        <li><a href="#card"></a></li>
    </ul>
</nav>