<nav>
    <ul>
        <li>
            <img src="/Imag/pokemon.png" alt="Pokedex"> 
        </li>
        <li>
                <h1 href="/">Pokédex</h1>
        </li>
        <li><a href="/registration">Cadastro</a></li>
        <li><a href="/">Pokemon´s</a></li>
    </ul>
</nav>